<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mrstik_pos" frontName="mrstik_pos">
            <module name="Mrstik_Pos"/>
        </route>
    </router>
</config>
